<div id="dv" (scroll)="onScroll($event)">
    <div class="main">
        <navbar></navbar>

        <div class="center">
            <div class="row1">
                <span id="r1">Full</span>
            </div>
            <div id="div" class="row2">
                <span id="r2" class="mid">Stack</span>
                <span class="hello">Hello, I am <strong style="color: #1C1C1C; font-weight: 700;">Mateo
                        Azevedo</strong>, a programmer with a focus on backend development, available for freelance or
                    full-time work.</span>
            </div>
            <div class="row3">
                <img src="/assets/jaan.png" alt="">
                <span id="r3">Developer</span>
            </div>
        </div>

        <div class="more">
            <span>See more</span>
            <img src="/assets/arrow.svg" alt="">
        </div>
    </div>

    <div class="view-1">

        <div class="profile">
            <div class="col-1">

                <div class="about-me">
                    <div class="img">
                        <img src="/assets/perfil.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="name-title">A developer</div>
                        <div class="name">Mateus Azevedo.</div>
                        <div class="name-description">back-end development specialist</div>
                    </div>
                </div>

                <div class="about-me-2">
                    <div class="about-me-2-1">


                        <div class="feature-slide">

                            <span class="span-1">FEATURED</span>
                            <img class="star" src="/assets/star.svg" alt="">
                            <span class="span-2">LATEST WORK AND</span>
                            <span class="span-1">FEATURED</span>
                            <img class="star" src="/assets/star.svg" alt="">
                            <span class="span-2">LATEST WORK AND</span>
                            <span class="span-1">FEATURED</span>

                        </div>
                    </div>
                    <div class="about-me-2-2">
                        <div class="about-me-section-left">
                            <div class="top">

                                <div style="width:100%;height:0;padding-bottom:50%;position:relative;"><iframe
                                        src="https://giphy.com/embed/1hm7BwVZroLgWg33dR" width="100%" height="100%"
                                        style="position:absolute; border-radius: 30px 30px 0px 0px; " frameBorder="0" class="giphy-embed"
                                        allowFullScreen></iframe></div>

                            </div>
                            <div class="bottom">
                                <span class="span-top">certifications</span>
                                <span class="span-bottom">Credentials</span>
                            </div>
                        </div>
                        <div class="about-me-section-right">
                            <div class="top">
                                <img src="/assets/pj.png" alt="">
                            </div>
                            <div class="buttom">
                                <span class="span-top">showcase</span>
                                <span class="span-bottom">Projects</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2">

                <div class="col-2-1">
                    <div class="links">
                        <a href="https://docs.google.com/document/d/13CGtWMXSIbDehErTbavf4vXtJ3mBevGA/edit?usp=sharing&ouid=115801112536972825482&rtpof=true&sd=true" target="_blank"> <img src="/assets/dowload.svg" alt=""></a>
                        <a href="https://wa.me/5551989655009?text=Ol%C3%A1+vi+seu+perfil+no+seu+site%2C+gostaria+de+saber+sobre+%22++++%22." target="_blank"> <img src="/assets/wpp.svg" alt=""></a>
                    </div>
                    <div class="text">
                        <span class="span-1">details about me</span>
                        <span class="span-2">More</span>
                    </div>
                </div>
                <div class="col-2-2">
                    <div class="list-stacks">
                        <ul>
                            <li>
                                <img src="/assets/java.svg" alt="">
                            </li>
                            <li>
                                <img src="/assets/spring.svg" alt="">
                            </li>
                            <li>
                                <img src="/assets/git.svg" alt="">
                            </li>
                            <li>
                                <img src="/assets/postgres.svg" alt="">
                            </li>
                            <li>
                                <img src="/assets/angular.svg" alt="">
                            </li>
                            <li>
                                <img src="/assets/html.svg" alt="">
                            </li>
                            <li>
                                <img src="/assets/css.svg" alt="">
                            </li>
                            <li>
                                <img src="/assets/sass.svg" alt="">
                            </li>

                            <li>
                                <img src="/assets/js.svg" alt="">
                            </li>
                            <li>
                                <img src="/assets/ts.svg" alt="">
                            </li>
                            <li>
                                <img src="/assets/aws.svg" alt="">
                            </li>
                            <li>
                                <img src="/assets/mysql.svg" alt="">
                            </li>
                            <li>
                                <img src="/assets/rabbitmq.svg" alt="">
                            </li>
                            <li>
                                <img src="/assets/docker.svg" alt="">
                            </li>
                            <!-- <li>
                                <img src="/assets/figma.svg" alt="">
                            </li> -->
                        </ul>
                    </div>
                    <div class="text">
                        <span class="span-top">List of tecnology</span>
                        <span class="span-bottom">Stacks</span>
                    </div>
                </div>
                <div class="col-2-3">
                    <div class="social">
                        <a href="https://github.com/Mateus-Az" target="_blank">
                            <img style="height: 50px; width: 50px;" src="/assets/github.svg" alt="">
                        </a>
                        <a href="https://www.linkedin.com/in/mateoaz/" target="_blank">
                            <img src="/assets/lk.svg" alt="">
                        </a>
                    </div>
                    <div class="text">
                        <span class="span-1">
                            stay with me
                        </span>
                        <div class="span-2">
                            Profiles
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-3">

                <div class="col-3-1">

                    <div class="top">
                        <span class="num">02</span>
                        <span class="text">Years Experience</span>
                    </div>

                    <div class="midle">
                        <span class="num">- - -</span>
                        <span class="text"></span>
                    </div>

                    <div class="bottom">
                        <span class="num">+20</span>
                        <span class="text">Total Project</span>
                    </div>

                </div>
                <div class="col-3-2">
                    <h1>Let's</h1>
                    <div class="bottom-2">
                        <span>work</span><span class="tg">together.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="view-2">
        <div class="project-header">
            <span id="view2-r1" class="title"> Featured Projects - Featured Projects - Featured Projects - Featured
                Projects - Featured Projects - Featured Projects - Featured Projects - Featured Projects - Featured
                Projects - Featured Projects - Featured Projects -
            </span>
        </div>

        <section class="list-projects">
            <card-project *ngFor="let card of cardsProject" [techTitle]="card.techTitle" [titleProject]="card.titleProject" [listTech]="card.listStack"></card-project>
        </section>
        
    </div>
</div>